[submodule "gazebo-slider"]
	path = gazebo-slider
	url = https://github.com/frank20a/gazebo-slider
[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = https://github.com/frank20a/ORB_SLAM3
[submodule "ORB-SLAM3-ROS2"]
	path = src/ORB-SLAM3-ROS2
	url = https://github.com/frank20a/ORB-SLAM3-ROS2
[submodule "src/vicon-receiver"]
	path = src/vicon-receiver
	url = https://github.com/OPT4SMART/ros2-vicon-receiver
