<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="marker_cube">
    <xacro:include filename="dimensions.xacro"/>
    <xacro:include filename="macros.xacro"/>
    <xacro:include filename="gazebo.xacro"/>

    <link name="estimated_pose"></link>

    <!-- Body -->
    <link name="target_body">
        <collision name="body_collision">
            <geometry>
                <box size="${cube_dim}"/>
            </geometry>
        </collision>

        <visual name="body_visual_cube">
            <geometry>
                <mesh filename="/home/frank20a/dev-ws/models/simple_targets/ship1/marker_box.dae"/>
            </geometry>
        </visual>

        <xacro:inertial_box mass="1.25" x="${cube_x*U}" y="${cube_y*U}" z="${cube_z*U}">
            <origin xyz="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="body_fix" type="fixed">
        <!-- <origin xyz="0 0 0" rpy="${-pi/2} ${pi} ${-pi/2}"/> -->
        <parent link="estimated_pose"/>
        <child link="target_body"/>
    </joint>
</robot>